<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="IpakYoli" value="https://nuget.pkg.github.com/ipakyulibank/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/LiquidSpot/index.json" protocolVersion="3" />
	</packageSources>

	<packageSourceCredentials>
		<IpakYoli>
			<add key="Username" value="LiquidSpot" />
			<add key="ClearTextPassword" value="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" />
		</IpakYoli>

		<github>
			<add key="Username" value="LiquidSpot" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>